@import "bourbon/bourbon";


$headline: "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

body {
  background-color: #000;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  line-height: 1.2;
}

.paper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.permalink {
  margin: 0.5em 0 0;
  font-family: $headline;
  color: #ededed;
  text-decoration: none;
  font-size: 2em;
}
.form {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  font-family: $headline;
  font-weight: 700;
  font-size: 1.5em;
  color: #ededed;
  @include animation(fade 4s);

  a { color: #ededed; }

  .q { 
    width: 35%; 
    padding: 4px;
  }

  .submit { 
    font-style: italic; 
  }


  .masthead { 
    font-size: 14px; 
    font-style: italic;
  }
}

.front-page {
  position: relative;
  width: 65%;
  height: 70%;
  overflow: hidden;
  padding: 0.5em 1em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  background-color: #fff;
  color: #222;
  border: 1px solid #ededed;
  @include border-bottom-radius(0.5em);
  @include animation(spin 4s);
}
.nameplate {
  text-align: center;
  border-bottom: 3px double #666;
  position: relative;

  .title {
    font-size: 4em;
    margin: 0;
    font-family: "cabazon", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  }

  .motto { 
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #666;
    width: 8em;
    height: 4.8em;
    display: flex;
    align-items: center;
  }
}

.edition {
  margin-top: 1em;
  display: flex;
  border-top: 1px solid #666;

  .cell {
    flex: 1;

    &:first-of-type { text-align: left; }
    &:last-of-type { text-align: right; }
  }

  .pubdate {
    font-variant: small-caps;
    font-weight: bold;
  }
}

.headline {
  font-size: 3.5em;
  margin: 0.3em 0;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-family: $headline;
}

.text {
  text-align: justify;
  color: #000;
  @include columns(3);
}

.author-photo {
  float: left;
  margin-right: 1em;
  // include a filter without brightness for webkit
  // because safari's brightness is weird
  @include prefixer(filter, grayscale(100%) contrast(80%), webkit);
  @include prefixer(filter, grayscale(100%) contrast(80%) brightness(110%), webkit moz spec);

  & + p { margin-top: 0; }
}

@include keyframes(spin) {
  0% {
    opacity: 0;
    @include transform( rotate(-1440deg) scale(0.45) );
  }

  30% {
    opacity: 1;
    @include transform( scale(1) );
  }

  100% { @include transform( rotate(0deg) ); }
}

@include keyframes(fade) {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
