<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta content="Spinning Newspaper as a Service" name="description">
    <title>The Daily Spin</title>
    <script type="text/javascript" src="//use.typekit.net/chs0lqv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css" media="screen" rel="stylesheet">
    <link href="<%= url("/css/main.css") %>" media="screen" rel="stylesheet">
  </head>
  <body>
    <div class="paper">
      <%= yield %>
      <form action="/" method="GET" class="form">
        <input type="text" name="q" class="q" />
        <input type="submit" value="Stop the presses!" class="submit" />
        <p class="masthead">Made by <a href="http://markwunsch.com">Mark Wunsch</a>. This only works in <a href="http://google.com/chrome">Chrome</a>. Stock headlines from <a href="https://twitter.com/TwoHeadlines">@TwoHeadlines</a>.</p>
      </form>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45213858-1', 'dailyspin.biz');
      ga('send', 'pageview');
    </script>
  </body>
</html>

