<section class="front-page">
  <header class="nameplate">
    <h1 class="title">The Daily Spin</h1>
    <div class="motto">Wow. Such news. So spinning.</div>
  </header>
  <article class="lede">
    <h1 class="headline">Spinning Newspaper Injures Printer</h1>
  </article>
</section>
